body{
	background-image: url(apple.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:100%;
}
.areaprincipal{
	
	width:45%;
	background-color:white;
	margin:0 auto;
	padding:20px;
}